/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #F26E23;
  background-color: #F7F7F7;
  font-size: 18px;
}

a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover {
  cursor: pointer;
  opacity: 0.6;
}

h3 {
  font-size: 30px;
}

.todoList {
  padding: 30px 0;
  font-size: 18px;
}

.todoList_item {
  border: 1px solid #F26E23;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  word-wrap: break-word;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.6;
}

.completed {
  text-decoration: line-through;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 20px;
}

.newTodo {
  background-color: transparent;
  outline: 0;
  width: 100%;
  border: none;
  padding: 15px;
  color: #7c7c7c;
  font-size: 20px;
  border-bottom: 2px solid #F26E23;
  caret-color: #F26E23;
}

.newTodo::-webkit-input-placeholder {
  color: #ccc;
}

.addTodo {
  display: inline-block;
  font-size: 30px;
  color: #F26E23;
  outline: 0;
  padding: 10px 10px 10px 12px;
  border-radius: 50%;
  right: -40px;
  width: 40px;
  height: 40px;
}

.clearTask {
  display: inline-block;
  color: #fff;
  background-color: #F26E23;
  border: none;
  outline: 0;
  border-radius: 3px;
  padding: 10px 10px 7px 10px;
  font-size: 18px;
}

.clearTask:hover {
  cursor: pointer;
  opacity: 0.6;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mb-2 {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=all.css.map */